BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Always
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  BeforeElse: false
  SplitEmptyFunction: false
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
